# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-*

# Ignore npm lock files
package-lock.json
yarn.lock

# Ignore MongoDB data directory
/data/

# Ignore server configuration files
server/config/config.js

# Ignore Vue CLI configuration file
vue.config.js

# Ignore editor backup files
*~

# Ignore macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Ignore Linux desktop files
*.desktop
